# Proxmox HDD fan wall control config
INPUT_FILE="/var/lib/fan-control/vm-unraid-hdd/hdd_temp_status.env"

HWMON_PATH="/sys/class/hwmon/hwmon5"
PWM_ENABLE_NAME="pwm2_enable"
PWM_NAME="pwm2"
RPM_NAME="fan6_input"

LOG_TAG="fan-control"
VIRTIOFS_TAG="fan-control-virtiofs"

SAFE_FALLBACK_PWM=204
MAX_FILE_AGE_SECONDS=120
READ_TIMEOUT_SECONDS=2

MIN_PWM=120
MAX_PWM=255

PWM_AT_30=120
PWM_AT_32=128
PWM_AT_35=144
PWM_AT_37=160
PWM_AT_39=176
PWM_AT_40=192
PWM_AT_42=204
PWM_AT_43=220
PWM_AT_45=235
PWM_AT_46_PLUS=255

HOT_DRIVE_COUNT_BUMP_THRESHOLD=4
HOT_DRIVE_PWM_BUMP=16

HYSTERESIS_C=2